<form #updateBlog="ngForm" (ngSubmit)="onSubmit(updateBlog.value)">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="blog.title" ngModel #title="ngModel"
        required minlength="5">
      <div *ngIf="title.invalid && title.touched">
        <div *ngIf="title.errors?.['required']">title is required</div>
        <div *ngIf="title.errors?.['minlength']">
          the actualLength is {{title.errors?.['minlength'].actualLength}}
          but required length {{title.errors?.['minlength'].requiredLength}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descrption</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="blog.descrption" rows="3"
        name="descrption" ngModel #descrption="ngModel" required minlength="20"></textarea>
      <div *ngIf="descrption.invalid && descrption.touched">
        <div *ngIf="descrption.errors?.['required']">descrption is required</div>
        <div *ngIf="descrption.errors?.['minlength']">
          the actualLength is {{descrption.errors?.['minlength'].actualLength}}
          but required length {{descrption.errors?.['minlength'].requiredLength}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="category" name="category" [(ngModel)]="blog.category" ngModel
      #category="ngModel" required>
    <div *ngIf="category.invalid && category.touched">
      <div *ngIf="category.errors?.['required']">category is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="image">image</label>
    <input type="file" multiple="multiple" class="form-control-file" id="image" value="blog.image" name="image" ngModel
      #image="ngModel" accept="image/*" (change)="uploadImg($event)">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="updateBlog.invalid">send</button>
</form>