<form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm.value)">
  <div class="mb-3">
    <label for="frName" class="form-label">first name</label>
    <input type="text" class="form-control" id="frName" aria-describedby="textHelp" name="firstName"
      #firstName="ngModel" ngModel minlength='3' [(ngModel)]="user.firstName">
    <div id="textHelp" class="form-text" *ngIf="firstName.invalid && firstName.touched">
      <div *ngIf="firstName.errors?.['minlength']">
        the actualLength is {{firstName.errors?.['minlength'].actualLength}}
        but required length {{firstName.errors?.['minlength'].requiredLength}}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">last name</label>
    <input type="text" class="form-control" id="lastName" aria-describedby="lsHelp" name="lastName" #lastName="ngModel"
      ngModel minlength='3' [(ngModel)]="user.lastName">
    <div id="lsHelp" class="form-text" *ngIf="lastName.invalid && lastName.touched">
      <div *ngIf="lastName.errors?.['minlength']">
        the actualLength is {{lastName.errors?.['minlength'].actualLength}}
        but required length {{lastName.errors?.['minlength'].requiredLength}}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
      #email="ngModel" ngModel email [(ngModel)]="user.email">
    <div id="emailHelp" class="form-text" *ngIf="email.invalid && email.touched">
      <div *ngIf="email.errors?.['email']">please enter valid email</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password"
      #password="ngModel" ngModel name="password" minlength="8">
    <div class="form-text" *ngIf="password.invalid && password.touched">
      <div *ngIf="password.errors?.['minlength']">
        the actualLength is {{password.errors?.['minlength'].actualLength}}
        but required length {{password.errors?.['minlength'].requiredLength}}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">address</label>
    <input type="text" class="form-control" id="address" aria-describedby="addressHelp" name="address"
      #address="ngModel" ngModel [(ngModel)]="user.address">
    <div id="addressHelp" class="form-text" *ngIf="address.invalid && address.touched">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>