<a routerLink="/admin/allAdmins">admins</a>
<br>
<a routerLink="/admin/allUsers">users</a>
<br>
<a routerLink="/admin/addProduct">add product</a>
<br>
<a routerLink="/admin/addBlog">add blog</a>
<br>
<a routerLink="/blogs">blogs</a>
<br>
<a routerLink="/admin/addProCat">addProCat</a>
<br>
<a routerLink="/admin/addBrandCat">addBrandCat</a>
<br>
<a routerLink="/admin/allBrandCat">allBrandCat</a>
<br>
<a routerLink="/admin/addBlogCat">addBlogCat</a>
<br>
<a routerLink="/admin/allBlogCat">allBlogCat</a>