<form #resetPass="ngForm" (ngSubmit)="onSubmit(resetPass.value)">
  <div class="mb-3">
    <label for="code" class="form-label">Code</label>
    <input type="text" class="form-control" id="code" #code="ngModel" ngModel name="passwordResetToken" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" #password="ngModel" ngModel name="password"
      required minlength="8">
    <div class="form-text" *ngIf="password.invalid && password.touched">
      <div *ngIf="password.errors?.['required']">Password is required</div>
      <div *ngIf="password.errors?.['minlength']">
        the actualLength is {{password.errors?.['minlength'].actualLength}}
        but required length {{password.errors?.['minlength'].requiredLength}}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="resetPass.invalid">Submit</button>
</form>