<form #forgotPass="ngForm" (ngSubmit)="onSubmit(forgotPass.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
      #email="ngModel" ngModel required email>
    <div id="emailHelp" class="form-text" *ngIf="email.invalid && email.touched">
      <div *ngIf="email.errors?.['required']">email is required</div>
      <div *ngIf="email.errors?.['email']">please enter valid email</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="forgotPass.invalid">Submit</button>
</form>